.profile-pic {
    height: 100%
}

.navbar {
    font-family: 'Poiret One';
    letter-spacing: .5px;
    font-size: 18px;
}
.current-page {
    font-weight: bold;
}

h1 {
    font-family: 'Poiret One';
    letter-spacing: 2px;
}

a:link {
    color: #6c757d;
}

a:visited {
    color: #6c757d;
}

a:hover {
    color: #4a4d50;
    text-decoration: none;
    font-weight: bold;
}

body {
    background-image: url("../images/gray-marble.jpg");
    background-repeat: repeat;
    background-color: #919497;
  }

h2 {
    font-size: 32px;
    color: #919497;
    border-bottom: 2px solid #ced4da;
}

form {
    color: #919497;
}

.card-body {
    font-family: 'Roboto';
    letter-spacing: .5px;
    color: #919497;
}

textarea {
    max-width: 100%;
    min-width: 100%;
    border: 1px solid #ced4da;
}

.btn-primary {
    background-color: #919497;
    border: none;
}

.link-box1 {
    background-color: #555555;
    padding: 15px 0px 0px 0px;
    height: 50px;
    top: 45%;
    position: absolute;
}

.img {
    position: relative;   
}

.textbox1 {
    background-image: url("../images/cat.jpg");
    background-size: cover;
    padding: 180px 0px 10px 0px;
}

.textbox2 {
    background-image: url("../images/coding.jpg");
    background-size: cover;
    padding: 180px 0px 10px 0px;
}

.textbox3 {
    background-image: url("../images/headphones.jpg");
    background-size: cover;
    padding: 180px 0px 10px 0px;
}
.textbox4 {
    background-image: url("../images/phone.jpg");
    background-size: cover;
    padding: 180px 0px 10px 0px;
}
.textbox5 {
    background-image: url("../images/coffee.jpg");
    background-size: cover;
    padding: 180px 0px 10px 0px;
}
.textbox6 {
    background-image: url("../images/iphone.jpg");
    background-size: cover;
    padding: 180px 0px 10px 0px;
}

.port-images {
    background-color: red;
}
/* .caption {
    position: absolute;
    top: 73%;
    background-color: black;
    z-index: 1;
} */
